<!-- Site Footer -->
<footer>
  {% include next_event.html %}
  <p>&copy; 2025 Ember Dance. All rights reserved.</p>
  <p class="demoTitle">&nbsp;</p>
<table style="width: 100%;">
<tbody>
<tr style="height: 162px;">
<td style="height: 162px; width: 739px;">&nbsp;
<table style="width: 100%;">
<tbody>
<tr style="height: 97px;">
<td style="width: 25%; height: 97px;">&nbsp;<img width= 100% src="/assets/img/Blues%20Dance%20General.png" alt="Blues Dance General" /></td>
<td style="width: 359.281px; height: 97px;">&nbsp;
<div class="oKdM2c ZZyype Kzv0Me">
<div id="h.157484006da701d7_33">
<div>
<div>
<h1 id="h.isc3sxd2fuud_l" dir="ltr">Monthly Blues Dance!</h1>
</div>
</div>
</div>
</div>
<div>
<div id="h.157484006da701d7_35">
<div>
<div>
<p dir="ltr">Our monthly blues dance is every second Friday, in Columbus from 7:30pm to 11:30pm at Clinton Heights Lutheran Church in Clintonville!&nbsp;<a href="&quot;/map.html&quot;">Map</a></p>
<p dir="ltr">We will be teaching an all-levels dance lessons from 7:30pm-8:00pm before opening up to social dance!</p>
<p dir="ltr">You can see all the details and RSVP on&nbsp;<a href="https://fb.me/e/2w0c5YXk0" target="_blank">the event page</a>&nbsp;on Facebook.</p>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height: 12.4688px;">
<td style="height: 12.4688px; width: 739px;">&nbsp;
<table style="width: 100%;">
<tbody>
<tr>
<td style="width: 234.594px; text-align: center;"><a href="/map.html">Map</a><br /> <a href="/calendar.html">Calendar</a>
<p>&copy; 2025 Ember Dance. All rights reserved.</p>
</td>
<td style="width: 10%;">&nbsp;<a href="https://www.instagram.com/emberbluescolumbus/tagged/?hl=en" target="_blank"><img width="100%" src="/assets/img/emberbluescolumbus_qr.png" alt="Instagram QR" /></a></td>
<td style="width: 10%;">&nbsp; link to facebook</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</footer>
