<!-- Google Map Embed (reusable) -->
<div class="map-embed" style="margin:2em 0;text-align:center;">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d381.87782137866617!2d-83.01539898765058!3d40.03027549204025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388c3d8f4fcdf1%3A0xe2e1788b89eabc19!2sClinton%20Heights%20Lutheran%20Church!5e0!3m2!1sen!2sus!4v1756346402516!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>

