---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Instagram from "../components/Instagram.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Gallery" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Gallery</h1>
      <Instagram />
    </main>
    <Footer />
  </body>
</html>
