---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Safe Spaces Policy" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Safe Spaces Policy</h1>
      <h2>Purpose</h2>
      <p>
        This policy is designed to create an environment where all participants feel safe,
        respected, and supported, regardless of their background, gender, race, sexuality,
        ability, or any other aspect of their identity. We are committed to fostering an
        inclusive space for everyone to enjoy the art of blues and fusion dancing, free from
        harassment, discrimination, or harm.  
      </p>
      <ol>
        <li>
          <p>Respect and Consent</p>
          <ul>
            <li>
              Consent is key. Always ask for and receive clear consent before initiating any
              physical contact during dances. This includes but is not limited to leads,
              follows, and all social interactions. With a dance this may be as little as a
              gesture and a nod, but for more intimate aspects like close embrace or dips
              you should get verbal consent before continuing.
            </li>
            <li>
              Always respect boundaries. If someone communicates their discomfort or asks
              you to stop, you must do so immediately without question.
            </li>
            <li>
              Be mindful of verbal and non-verbal cues that may indicate discomfort.
            </li>
          </ul>
        </li>
        <li>
          <p>Zero Tolerance for Harassment</p>
          <ul>
            <li>
              Harassment of any kind—whether physical, verbal, or emotional—is strictly
              prohibited. This includes inappropriate comments, jokes, or actions that
              target someone's identity.  
            </li>
            <li>
              Harassment also includes unwanted physical touch or inappropriate advances. If
              you experience or witness harassment, please report it to the organizers
              immediately.
            </li>
          </ul>
        </li>
        <li>
          <p>Inclusivity</p>
          <ul>
            <li>
              We encourage diversity and inclusion. Our scene welcomes individuals from all
              walks of life, including but not limited to different races, ethnicities,
              genders, sexual orientations, abilities, and backgrounds.
            </li>
            <li>
              Language, music, and behavior should reflect an understanding and respect for
              diversity.
            </li>
          </ul>
        </li>
        <li>
          <p>Accessibility</p>
          <ul>
            <li>
              We strive to make our events accessible to all participants, including those
              with disabilities. If you have specific accessibility needs, please contact
              the organizers in advance, and we will do our best to accommodate you.
            </li>
            <li>
              For individuals who are immuno-suppressed or have other health concerns, we
              recognize the importance of maintaining a safe environment. In addition to
              general safety measures, we will occasionally hold masked dance events where
              mask-wearing will be required for all participants to help create a safer
              space for those with weakened immune systems.
            </li>
            <li>
              We encourage everyone to be mindful and supportive of others' health needs. If
              you are feeling unwell or have concerns about your health, please consider
              participating in a way that respects your own needs and the needs of others.
            </li>
            <li>
              We will work to ensure that our venues and events are as accessible as
              possible, whether that involves specific seating arrangements, accessibility
              for mobility devices, or other accommodations.
            </li>
          </ul>
        </li>
        <li>
          <p>Reporting And Accountability</p>
          <ul>
            <li>
              If you feel unsafe, uncomfortable, or have witnessed behavior that violates
              this policy, please report it to one of the event organizers or designated
              safety officers.
            </li>
            <li>
              All reports will be taken seriously and investigated promptly. We are
              committed to maintaining confidentiality to the extent possible while ensuring
              that the issue is addressed.
            </li>
            <li>
              Depending on the nature and severity of the incident, appropriate actions will
              be taken, including but not limited to warnings, removal from events, or
              permanent bans from the community.
            </li>
          </ul>
        </li>
        <li>
          <p>Healthy Communication</p>
          <ul>
            <li>
              Open and respectful communication is encouraged. This includes being mindful
              of personal space, tone, and the language we use.
            </li>
            <li>
              If you're unsure about something, it's better to ask than to assume.
            </li>
          </ul>
        </li>
        <li>
          <p>Dance Etiquette</p>
          <ul>
            <li>
              Everyone has the right to enjoy the music and dance in a way that feels
              comfortable. Respect for each other’s dance style and creative expression is
              crucial.
            </li>
            <li>
              Avoid dominating or monopolizing any one partner for an extended period if
              others seem interested in dancing, and be mindful of space when dancing in a
              group setting. Lifts and aerials are considered off limits. If there are few
              to no active dancers on the floor lifts may be permissible, but aerials should
              always be avoided.
            </li>
          </ul>
        </li>
        <li>
          <p>Participation</p>
          <ul>
            <li>
              Our scene is built on mutual respect and enjoyment. Participation is
              encouraged, but you are never required to dance with anyone or in any way that
              makes you uncomfortable.
            </li>
            <li>
              We respect each individual's right to enjoy the dance scene in a way that
              works best for them.
            </li>
          </ul>
        </li>
      </ol>
      <h2>Conclusion</h2>
      <p>
        By participating in our blues and fusion dance events, you agree to uphold the
        principles of this policy and work towards creating a supportive, inclusive, and
        respectful environment for all. We believe that a thriving dance scene is one where
        everyone feels welcome and valued. Thank you for contributing to a positive and safe
        space for all dancers.
      </p>
    </main>
    <Footer />
  </body>
</html>
