---

---

<div class="map-embed" style="margin:2em 0;text-align:center;">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1343.534841408834!2d-83.015056!3d40.030217!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388c3d8f4fcdf1%3A0xe2e1788b89eabc19!2sClinton%20Heights%20Lutheran%20Church!5e1!3m2!1sen!2sus!4v1770235754829!5m2!1sen!2sus"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
